# VS / .NET
.vs/
**/bin/
**/obj/
TestResults/
*.user
*.suo
*.cache
*.log

# NuGet
packages/
**/packages/*
*.nupkg
!**/packages/repositories.config

# Databases (local only)
*.mdf
*.ldf
*.sqlite*
*.db*
*.sql

# App.config: ignore tất cả, chỉ giữ 3 file
**/app.config
!WpfApp1/app.config
!WpfApp1.Tests/app.config
!WpfApp1/WpfApp1.UiTests/app.config


# Secrets: ignore file thật, allow example
WpfApp1/App.Secrets.config
!WpfApp1/App.Secrets.example.config
